{% extends "Blog/base.html" %}
{% block content %}

<h1>{{obj.title}}</h1>
<p>{{obj.content}}</p>
{% if obj.image %}
  <img src="{{obj.image.url}}" alt="img field">
{% endif %}

{{obj.timestamp}}<br>
{{obj.updated}}
<form method="POST" action="{% url "posts:delete" id=obj.id %}">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>
<form method="POST" action="{% url "posts:create" %}">
  {% csrf_token %}
  <input type="submit" value="Create New">
</form>
<form action="{% url "posts:update" id=obj.id %}">
  {% csrf_token %}
  <input type="submit" value="Update Post">
</form>
<form action="{% url "posts:lists" %}">
  {% csrf_token %}
  <button type="submit">All Posts</button>
</form>
{% endblock content %}
