{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}Latest Posts {%endblock head_title %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
  </head>
  <body>
    <div class='container'>
      {% block content %}
      <header>
        <nav>
          <ul>
            <li>Home</li>
            <li>Contacts</li>
          </ul>
          Welcome:{{request.user}}
        </nav>
        <form method="GET" action="">
          <input type="text" name='q' placeholder="Search Posts">
          <input type="submit" value="Search">
        </form>
       <h1>Latest Posts</h1>
     </header>
     <div class='col-sm-8 col-sm-offest-2'>
             {% for i in objlist %}
              <div class="row">
               <div class='col-sm-12'>
                 <div class="thumbnail border rounded border-primary">
                     <div class='caption col-sm-10 col-sm-offset-2'>
                       <h3><a href="{{i.get_absolute_url}}">{{i.title}}</a></h3>
                       <p><small>created on : {{i.timestamp}}</small><br>
                         {{i.content|linebreaks|truncatechars:100}}</p>
                         {% if i.image %}
                          <img src="{{i.image.url}}" alt="img field" height='520px' width='520px'>
                          <br>
                        {% endif %}
                        <p><a href="{{i.get_absolute_url}}"class="btn btn-primary" role="button">View</a>  <a href="{% url "posts:create" %}" class="btn btn-primary" role="button">New Post</a></p>
                   </div>



                 </div>
                </div>
                <br>
              </div>
              <br>
            {% endfor %}
       </div>
     </div>
       <footer>
      <div class="pagination">
    <span class="step-links">
        {% if objlist.has_previous %}
            <a href="?{{page_var}}=1"> first</a>
            <a href="?{{page_var}}={{ objlist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objlist.number }} of {{ objlist.paginator.num_pages }}.
        </span>

        {% if objlist.has_next %}
            <a href="?{{page_var}}={{ objlist.next_page_number }}">next</a>
            <a href="?{{page_var}}={{ obljlist.paginator.num_pages }}">lasts</a>
        {% endif %}
    </span>
</div>
</footer>
  {% endblock content %}
</div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>

  </body>

</html>
