{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}Latest Posts {%endblock head_title %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% block head_extra %}{% endblock head_extra%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class='container'>
      {% block content %}
      <header>
        <nav>
          <ul>
            <li>Home</li>
            <li>Contacts</li>
          </ul>
          Welcome:{{request.user}}
        </nav>
        <form method="GET" action="">
          <input type="text" name='q' placeholder="Search Posts">
          <input type="submit" value="Search">
        </form>
       <h1>Latest Posts</h1>
     </header>
     <div class='col-sm-8 col-sm-offest-2'>
             {% for i in objlist %}
              <div class="row">
               <div class='col-sm-12'>
                 <div class="thumbnail border rounded border-primary">
                     <div class='caption col-sm-10 col-sm-offset-2'>
                       <h3><a href="{{i.get_absolute_url}}">{{i.title}}</a></h3>
                       <p><small>created by {{i.user}} on : {{i.publish}}</small><br>
                         {% if i.draft %}<small><span> Draft</span></small>{% endif %}
                         <div class='post-content'>
                         <p>{{i.get_markdown|truncatechars_html:10}}</p>
                       </div>
                         {% if i.image %}
                          <img src="{{i.image.url}}"class='img-fluid' alt="img field">
                          <br>
                        {% endif %}
                        <p><a href="{{i.get_absolute_url}}"class="btn btn-primary" role="button">View</a></p>
                      </div>
                 </div>
                </div>
                <br>
              </div>
              <br>
            {% endfor %}
            <a href="{% url "posts:create" %}" class="btn btn-primary" role="button">New Post</a></p>
       </div>
     </div>
       <footer>
      <div class="pagination">
    <span class="step-links">
        {% if objlist.has_previous %}
            <a href="?{{page_var}}=1"> first</a>
            <a href="?{{page_var}}={{ objlist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objlist.number }} of {{ objlist.paginator.num_pages }}.
        </span>

        {% if objlist.has_next %}
            <a href="?{{page_var}}={{ objlist.next_page_number }}">next</a>
            <a href="?{{page_var}}={{ obljlist.paginator.num_pages }}">lasts</a>
        {% endif %}
    </span>
</div>
</footer>
  {% endblock content %}
</div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
    $(".content-markdown").each(function(){
      var content=$(this).text()
      var markedContent=marked(content)
      $(this).html(markedContent)
  })
  $(".post-content img").each(function(){
    $(this).addClass("img-fluid")
})
 //preview title
 var inputTitle=$("#id_title");
 function setTitle(value){
   $("#preview-title").text(value);
 }
 setTitle(inputTitle.val());
 inputTitle.keyup(function(){
   setTitle($(this).val())
 })
console.log(inputTitle.val(),$("#preview-title").val())
 //preview content
 var inputContent=$("#id_content");

 function setContent(value){
   $("#preview-content").html(marked(value));
   $("preview-content img").each(function(){
     $(this).addClass("img-fluid");
   })
 }
 setContent(inputContent.val());
 inputContent.keyup(function(){
  setContent($(this).val())
 })
})

  </script>

  </body>

</html>
